%h2
  The application
  - link_to h(oauth.client.display_name), oauth.client.link
  is requesting to #{oauth.scope.to_sentence} your account.
%form{:action => "/oauth/grant"}
  %button Grant
  %input{:name => "authorization", :type => "hidden", :value => oauth.authorization}
%form{:action => "/oauth/deny"}
  %button Deny
  %input{:name => "authorization", :type => "hidden", :value => oauth.authorization}